/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* utility */

.container {
    max-width: 800px;
    margin: 40px auto;
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

body {
    background-color: rgb(212, 227, 231);
}

/* banner */

#banner {
    height: 80px;
    background-color: rgb(255, 255, 255);

}

.b-logo {
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;

}

/* buttons */

#buttons {
    border-bottom: 2px solid rgb(212, 227, 231);
    padding: 10px;
}

.btn {
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 11px;
    cursor: pointer;
}

.task-btn {
    color: white;
    border-color: transparent;
    background-color: rgb(70, 173, 242);
    margin-left: 20px;
}

.section-btn {
    color: rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
}

/* list section */

#list {
    margin-top: 20px;
    margin-left: 30px;
}

.setting-list {
    list-style: none;
    padding-bottom: 20px;
    padding-top: 8px;
}

.collapse {
    font-size: 14px;
    margin-right: 5px;
}

.list-title {
    font-size: 23px;
}

.list-subtitle {
    font-size: 18px;
    font-weight: 300;
}

.inside-list {
    vertical-align: middle;
    margin-top: 15px;
}

/* check and cross layout */

.circle-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
}

.check {
    color: green;
    border: 1px solid green;
}

.cross {
    color: red;
    border: 1px solid red;
}

/* labels layout */

.label {
    margin-left: 10px;
    display: inline-block;
    height: 22px;
    width: 66px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    line-height: 22px;
}

.editorial-label {
    background-color: rgb(68, 171, 235);
}

.q1-label {
    background-color: rgb(155, 113, 227);
}

.recruiting-label {
    background-color: rgb(99, 191, 168);
}

.mobile-label {
    background-color: rgb(242, 159, 51);
}